body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: "indivisible", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: content-box radial-gradient(#dc5151, #b1c170)
}

.chat-container {
  max-width: 300px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  display: block;
  max-width: 100%;
  width: 180px;
  height: 220px;
  margin: auto;
  padding: 5px;
}

.message-box {
  margin-bottom: 10px;
  margin: 0 25px 25px;
}

.message-box .message-content {
  background: white;
  padding: 20px;
  border-radius: 45px;
  border: 2px solid black; 
}

.message-distribution {
  margin: 5px 0 0 0;
}

.message-box-martin .message-content {
  padding: 10px;
}

.message-box-martin {
  align-self: flex-end;
  text-align: right;
}

.chat-form {
  background: #f2edc1;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.hour {
  text-align: center;
}

header img {
  height: 50px;
  margin: auto;
}

.icon-header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #f2edc1;
}